<div class="container-sm" style="display:flex; justify-content:center;">
<div class="col border" style="text-align:center;">
    <%= render 'email_list', emails: @emails%>
</div>
<div id="show_section" class="col border" style="text-align:center;">
</div>
</div>
<%= link_to "Recevoir un email", emails_path, method: :post, remote: true%>




